
.page-area{
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    min-height: 600px;
    text-align: center;
    background-color:aliceblue;
}
input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
    border: 1px solid red;
    box-shadow: 0 0 13px inset #f4433638;
}    
h1{
    text-align: center;
}